/* Stili per il componente SliderInput */
.slider-container {
  width: 90%;
  margin: 20px auto;
  position: relative;
}

.slider-labels {
  display: flex;
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

.slider-label {
  position: absolute;
  color: #FAF3E0;
  font-size: 14px;
  opacity: 0.7;
  transition: all 0.5s ease;
}

.slider-label.active {
  color: #FAF3E0;
  opacity: 1;
  font-weight: bold;
}

.slider-label-text {
  white-space: nowrap;
  text-align: center;
  /* Rimuovo lo sfondo verde */
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 10px;
  box-shadow: none;
  font-size: 12px;
  /* Modifico il max-width per evitare i puntini di sospensione */
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-track {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  position: relative;
  margin: 10px 0;
  /* Aggiungi il gradiente per lo slider da rosa chiaro a bordeaux */
  background: linear-gradient(to right, #F5C6A5, #722F37);
}

.slider-input {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FAF3E0;
  cursor: pointer;
  border: 2px solid #722F37;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FAF3E0;
  cursor: pointer;
  border: 2px solid #722F37;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider-value {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #FAF3E0;
}

.slider-score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}

.slider-score-label {
  color: #FAF3E0;
  opacity: 0.8;
}

.slider-value-score {
  font-weight: bold;
  color: #FAF3E0;
}